-e .
aioconsole==0.3.1
aiohttp==3.7.4.post0
attrs==21.2.0
docutils==0.17.1
flake8-bugbear==21.4.3
flake8-quotes==3.2.0
flake8==3.9.2
ipdb==0.13.9
mypy==0.910
pytest-cov==2.12.1
pytest-sugar==0.9.4
pytest==6.2.4
terminaltables==3.1.0
uvloop==0.16.0
