-e .
aioconsole==0.6.1
aiohttp==3.8.5
aiotools==1.6.0
attrs==23.1.0
black==22.10.0
docutils==0.19
flake8-bugbear==23.3.23
flake8-quotes==3.3.2
flake8==6.0.0
ipdb==0.13.13
isort==5.12.0
mypy==1.4.1
pre-commit==3.3.3
pytest-asyncio==0.21.1
pytest-cov==4.0.0
pytest-sugar==0.9.7
pytest==7.4.0
terminaltables==3.1.10
towncrier==23.6.0
types-requests
uvloop==0.17.0
build==0.10.0
