-e .
aioconsole==0.5.0
aiohttp==3.8.1
attrs==22.1.0
docutils==0.19
flake8-bugbear==22.8.23
flake8-quotes==3.3.1
flake8==5.0.4
ipdb==0.13.9
mypy==0.971
pytest-cov==3.0.0
pytest-sugar==0.9.5
pytest==7.1.2
terminaltables==3.1.10
uvloop==0.16.0
